.title,
h1,
h2,
h3 {
    align-items: center;
    color: rgb(96, 63, 1);
    font-size: 40px;
}

li,
p {
    font-size: 20px;
    align-self: center;
    color: rgb(96, 63, 1);
    
}

a:visited {
    text-decoration: nono;
    color: rgb(128, 83, 0);
}

a:link {
    color: rgb(128, 83, 0);
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

img {
    width: 400px;
}

