* {
    box-sizing: border-box;
}

.title,
.dish-name {
    text-align: center;
    color: rgb(96, 63, 1);
    font-size: 40px;
    margin-top: 0;
}

.sub-heading {
    font-size: 30px;
    color: rgb(96, 63, 1);
    margin: 20px;
}

h4.sub-heading {
    font-size: 20px;
}


p {
    font-size: 20px;
    color: rgb(96, 63, 1);
    margin: 20px;
}

li {
    font-size: 20px;
    padding-bottom: 8px;
    color: rgb(96, 63, 1);
}

.recipe-list {
    padding: 0 auto;
    margin-left: 30px;
}

a:visited {
    text-decoration: nono;
    color: rgb(128, 83, 0);
}

a:link {
    color: rgb(128, 83, 0);
}

a:hover {
    color: rgba(112, 80, 0, 0.812);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: beige;
}

img {
    width: 400px;
    display: inline-block;
    vertical-align: top;
}

.img-ingredient-card {
    margin: 20px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
    width: 700px;
}

.ingredients-card {
    display: inline-block;
    vertical-align: top;
    padding-right: 8px;
}

